 .footer{
      margin: 7px 0px 7px 0px;
      padding: 0;
      transform: translateY(0%);
      stroke: rgb(0, 0, 0);
    }
    ul{
      list-style-type: none;
      background-color: rgb(255, 255, 255);
      overflow: hidden;
      display: flex;
      justify-content: center;
      border-top: 2px solid black; /* 위쪽 검은 가로줄 */
      border-bottom: 2px solid black; /* 아래쪽 검은 가로줄 */
    }
    ul li{
      margin: 2px 10px;
    }
    li a{
      width: 200px;
      padding: 0px 20px;
      text-decoration: none;
      display: block;
      color: rgb(0, 0, 0);
      font-size: 12px;
    }